@use "./style.scss";

.center-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 88vh;

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4.2rem;
  }

  p {
    text-align: center;
  }
}

#old-store-img {
  background-color: style.$white;
}

.section-title {
  font-size: 3.0rem;
}

.front-section {
  padding: 2rem 0;
}