@import "bootstrap/scss/bootstrap";

$p-size: 1.2rem;

$white: #e8d9c4;
$golden: #c8a45a;
$deep-purple: #2a0047;
$black: #080610;


body {
  height: 100%;
  font-family: "Cabin", sans-serif;
  background-image: linear-gradient(105deg, $deep-purple, $black);
}

#content {
  width: 70vw;
  margin: auto;
}

.white-txt {
  color: $white;
}

.golden-txt {
  color: $golden;
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.cotitle {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

.bigger {
  font-size: calc($p-size * 1.5);
}

p {
  font-size: $p-size;
  color: $white;
}